.centered {
    height: 20%;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: rgb(250, 112, 0);
    z-index: 999999;
}

.speech-bubble {
	position: absolute;
	width: 80%;
	margin: 0 auto;
	bottom: 50px;
	right: 10px;
	left: 10px;
    min-height: 20%;
	background: rgb(250, 112, 0);
	color: rgb(0, 0, 0);
	font-size: 28px;
    border-radius: .4em;
	padding: 20px;
    display: none;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: rgb(250, 112, 0);
	border-bottom: 0;
	border-left: 0;
	margin-left: -50px;
	margin-bottom: -50px;
}

#arjsDebugUIContainer {
    display: none;
}

.a-enter-vr {
	display: none;
}

.ui {

    position: absolute;

    z-index: 100;

    bottom: 0;

    left: 0;

    width: 100%;

    height: auto;

    margin: 0;

    padding: 10px 15px 30px;

    text-align: center;

    box-sizing: border-box;

}

.ui a {

    display: inline-block;

    width: 60px;

    height: 60px;

    background-color: rgb(250, 112, 0);

    line-height: 100%;

    color: #303030;

    margin: 10px 3px;

    border-radius: 50%;

    position: relative;

}

.ui a i {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%,-50%);

}

.ui a:active {

    color: #ff0000;

}



#snap {

    max-width:100%;height:auto; display:block

    ;;visibility :hidden

    ;} .ui

    a.disabled{pointer-events :none; color:#cccccc; }#snap.visible{visibility:visible;
}